<!DOCTYPE html>
<html>
  <head>
    <title>Homepage | Rotten Potatoes</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h3><a href="/user/register">Register</a></h3><br>
      <h3><a href="/user/movies">Movies</a></h3><br>
      <h3><a href="/user/search">Search</a></h3>
    </div>
  </body>
</html>