<!doctype html>
<html lang="en">
  <head>

    <style>
      .text-center a{
        text-decoration: none;
        color : white;
        background-color: black;
        padding : 5px 5px;
      }
      .text-center{
        margin-bottom: 20px;

      }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Homepage | Rotten Potatoes</title>
  </head>
  <%- include('navbar') %>
  <body background="https://pixelatedaudio.com/wp-content/uploads/2015/12/new-PA-background-web.jpg">
    <br><br>
      <% if (loginStatus) { %>
        <h2 class="text-center text-white"><a href="/user/profile">Profile</a></h2><br>
      <% } else { %>
        <h2 class="text-center text-white"><a href="/user/register">Sign Up</a> | <a href="/user/login">Log In</a></h2><br>
      <% } %>
      <h2 class="text-center text-white"><a href="/movies">Movies</a></h2><br>
        <h2 class="text-center text-white"><a href="/search">Search</a></h2><br>
      <% if (loginStatus) { %>
        <h2 class="text-center text-white"><a href="/user/logout">Log Out</a></h2>
      <% } %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>