<!DOCTYPE html>
<html>
  <head>
    <title>Search Movie By Genre | Rotten Potatoes</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <h1><%= capitalizeFirstLetter(genre) %> Movies</h1>
    <div class="container">
      <table>
        <tr>  
          <th>Movie Title</th>
          <th>Genre</th>
        </tr>
        <% movies.forEach(movie => { %>
          <tr>
            <td><%= movie.title %></td>
            <td><%= movie.genre %></td>
          </tr>
        <% }) %>
        </table>
    </div><br>
    <a href="/search">back</a>
  </body>
</html>